* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(44,62,80);
}

.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6rem;
  color: #bdc3c7;
  margin-bottom: 18px;
  transform: scale(1);
  border-radius: 50%;
  animation: pulse 1s infinite;
}

h2 {
  font-size: 6rem;
  color: #bdc3c7;
  margin-bottom: 18px;
  text-align: center;
}

img {
  height: 600px;
  width: 600px;
}

button {
  margin-bottom: 20px;
  border: none;
  border-radius: 50%;
  background-color: rgb(44,62,80);
  color: rgba(149,165,166, 0.3);
  font-size: 2rem;
  cursor: pointer;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

button:hover {
  color:  rgba(149,165,166, 1);
}